# yaml-language-server: $schema=./node_modules/envio/evm.schema.json
name: metoken-indexer
description: Indexer for Metokens
contracts:
  - name: HubFacet
    abi_file_path: ./HubFacet.json
    handler: src/EventHandlers.ts
    events:
      - event: CancelUpdate(uint256 id)
      - event: Deactivate(uint256 id)
      - event: FinishUpdate(uint256 id)
      - event: InitUpdate(uint256 id, uint256 targetRefundRatio, uint256 targetReserveWeight, bool reconfigure, uint256 startTime, uint256 endTime, uint256 endCooldown)
      - event: Register(uint256 id, address owner, address asset, address vault, uint256 refundRatio, uint256 baseY, uint256 reserveWeight, bytes encodedVaultArgs)
      - event: TransferHubOwnership(uint256 id, address newOwner)
  - name: FoundryFacet
    abi_file_path: ./FoundryFacet.json
    handler: src/EventHandlers.ts
    events:
      - event: Burn(address meToken, address asset, address burner, address recipient, uint256 meTokensBurned, uint256 assetsReturned)
      - event: Donate(address meToken, address asset, address donor, uint256 assetsDeposited)
      - event: Mint(address meToken, address asset, address depositor, address recipient, uint256 assetsDeposited, uint256 meTokensMinted)
  - name: FeesFacet
    abi_file_path: ./FeesFacet.json
    handler: src/EventHandlers.ts
    events:
      - event: SetBurnBuyerFee(uint256 rate)
      - event: SetBurnOwnerFee(uint256 rate)
      - event: SetMintFee(uint256 rate)
  - name: MetokenRegistryFacet
    abi_file_path: ./MetokenRegistryFacet.json
    handler: src/EventHandlers.ts
    events:
      - event: Subscribe(address meToken, address owner, uint256 minted, address asset, uint256 assetsDeposited, string name, string symbol, uint256 hubId )
      - event: TransferMeTokenOwnership(address from, address to, address meToken)
      - event: UpdateBalanceLocked(bool add, address meToken, uint256 amount)
      - event: UpdateBalances(address meToken, uint256 newBalance)
      - event: CancelResubcribe(address meToken)
      - event: CancelTransferMeTokenOwnership(address from, address meToken)
      - event: ClaimMetokenOwnership(address from, address to, address meToken)
      - event: FinishResubscribe(address meToken)
      - event: InitResubscribe(address metoken, uint256 targetHubId, address migration, bytes encodedMigrationArgs)
networks:
  - id: 8453
    start_block: 16584536
    contracts:
      - name: HubFacet
        address:
          - 0x0bb01A58802eC340069C68698726A7cB358195F8
      - name: FoundryFacet
        address:
          - 0xA360aeb1C0915E1ebb5F83c533d94ae2EB827Ea8
      - name: FeesFacet
        address:
          - 0x4431a3AEb5610FB7082d4Cb0D6b100C288C443b8
      - name: MetokenRegistryFacet
        address:
          - 0xCb44364CCdb30fc79e7852e778bEc20033a69b8B
  - id: 10
    start_block: 122208826
    contracts:
      - name: HubFacet
        address:
          - 0xcD2907c2855E198250932A61828F88Ad603F4218
      - name: FoundryFacet
        address:
          - 0x155aC38648eDc6B0c3e28b28d10E2A16678e256C
      - name: FeesFacet
        address:
          - 0x4B9dAed6cCC04beafA956c1Bd3e3FDCb37009937
      - name: MetokenRegistryFacet
        address:
          - 0x235b18CC4C44925D05c37AE3005aAAf51FEE3A7B
